body {
  background-image: url('../images/planet-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0;
}

.app {
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

@import './tech-tree';
@import './factory-list';
@import './factory';
@import './game-icon';

.title {
  color: white;
  max-width: 1100px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 40px auto auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.footer {
  max-width: 1100px;
  margin: 10px auto auto;
  background: white;
  padding: 20px;
  border-Radius: 10px;
  display: flex;
  justify-content: space-around
}