body {
  background-image: url('../images/planet-bg.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.app {
}

.title {
  color: white;
  max-width: 1100px;
  margin: auto;
}

.content {
  display: flex;
  flex-direction: row;
  max-width: 1100px;
  margin: 50px auto auto;
  background: white;
  padding: 20px;
  border-radius: 10px;
}

.tech-tree {
  flex-grow: 1;
  margin: 0 40px;

  .build-list {
    * {
      margin-top: 8px;
    }

    .indent-0 {
      margin: 0
    }

    .indent-1 {
      margin-left: 2em
    }

    .indent-2 {
      margin-left: 4em
    }

    .indent-3 {
      margin-left: 6em
    }

    .indent-4 {
      margin-left: 8em
    }

    .indent-5 {
      margin-left: 16em
    }
  }
}

.factory-list {
  display: flex;
  max-width: 400px;
  flex-direction: column;

  .factory-row {
    background: grey;
    cursor: pointer;
    margin: 4px;
    padding: 4px;
    border: 1px solid transparent;
  }

  .factory-row:hover {
    background: white;
    border: 1px solid black;
  }

}

.factory {
  width: auto;
  flex: 3;
  flex-grow: 1;


  .name {
    font-size: 1.1em;
    font-weight: bold;
  }

  .wrapper {
    display: flex;
    justify-content: space-between;

    .icon {
      width: 32px;
      height: 32px;
    }
  }

  .stats {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;

    .label {
      font-weight: bold;
    }
  }

  .production {
    display: flex;
    justify-content: center;
    margin-top: 20px;

    h4 {
      font-size: 1.1em;
      margin-bottom: 20px;
    }

    .resource {
      margin-left: 10px;
    }

    .divider {
      margin: 0 20px;
      padding-top: 50px;
      font-size: 2em;
      font-weight: bolder;
    }

    .inputs {
      margin-right: 50px;
    }

  }
}