.tech-tree {
  flex-grow: 1;
  margin: 0 40px;

  .build-list {
    margin-top: 20px;

    .tree-node {
      margin-top: 8px;
      display: flex;
    }

    .indent-0 {
      margin: 0
    }

    .indent-1 {
      margin-left: 2em
    }

    .indent-2 {
      margin-left: 4em
    }

    .indent-3 {
      margin-left: 6em
    }

    .indent-4 {
      margin-left: 8em
    }

    .indent-5 {
      margin-left: 16em
    }
  }
}